@using YNDIY.API.Models;
@using System.Web.Script.Serialization;
@{
    List<YNBanShiProductionOrder> orderList = ViewBag.orderList;
    YNDIY.API.Controllers.PagesController page = ViewBag.page;
}
<table class="_list_table">
    <thead>
        <tr>
            <td>批次号</td>
            <td>下单日期</td>
            <td>交货日期</td>
            <td>客户名称</td>
            <td>品牌</td>
            <td>产品名称</td>
            <td>型号</td>
            <td>规格</td>
            <td>颜色</td>
            <td>数量</td>
            <td>关联订单</td>
            <td>计划说明</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < orderList.Count; i++)
        {
            <tr>
                <td><a href="/ERPProduct/ProductDetail?id=@orderList[i].id">@orderList[i].batch_num</a></td>
                <td>@orderList[i].create_date.ToString("yyyy-MM-dd")</td>
                @if (orderList[i].delivery_date < DateTime.Now.Date)
                {
                    <td><span class="_red_font">@orderList[i].delivery_date.ToString("yyyy-MM-dd")</span></td>
                }
                else
                {
                    <td>@orderList[i].delivery_date.ToString("yyyy-MM-dd")</td>
                }
                <td>@orderList[i].customer_name</td>
                <td>@orderList[i].brand_name</td>
                <td>@orderList[i].product_name</td>
                <td>@orderList[i].product_model</td>
                <td class="_td_10 _over_text" title="@orderList[i].product_format">@orderList[i].product_format</td>
                <td>@orderList[i].product_color</td>
                <td>@orderList[i].product_number</td>
                <td></td>
                <td class="_td_10 _over_text" title="@orderList[i].plan_remarks">@orderList[i].plan_remarks</td>
                <td class="_date_wrap">
                    <input type="text" placeholder="请选择计划日期" value="请选择计划日期" class="_input_area _choose_date" _id="@orderList[i].id" />
                    @*<a href="javascript:void(0);" class="_choose_date" _id="@orderList[i].id">请选择日期</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("page")