@using YNDIY.API.Models;
@using System.Web.Script.Serialization;
@{
    List<YNInventory> inventory_list = ViewBag.inventory_list;
    List<YNBanShiProduct> product_list = ViewBag.product_list;
    List<YNBanShiBrand> brand_list = ViewBag.brand_list;
    YNDIY.API.Controllers.FactoryStorageOutController out_ctrl = new YNDIY.API.Controllers.FactoryStorageOutController();
    JavaScriptSerializer js = new JavaScriptSerializer();
    YNDIY.Admin.Controllers.ERPStoreController page_ctrl = ViewBag.myPage;
    
}
<table class="_list_table">
    <thead>
        <tr>
            <td>型号</td>
            <td>品牌</td>
            <td>产品名称</td>
            <td>规格</td>
            <td>颜色</td>
            <td>盘点前数量</td>
            <td>盘点后数量</td>
            <td>库存变化</td>
            <td>可用库存</td>
            <td>待处理数量</td>
            <td>锁定库存</td>
            <td>预备出库</td>
        </tr>
    </thead>
    <tbody>
        @if (inventory_list.Count > 0)
        {
            for (var i = 0; i < inventory_list.Count; i++)
            {
                YNBanShiProduct product = product_list.FirstOrDefault(f => f.id == inventory_list[i].product_id);
                YNBanShiBrand brand = brand_list.FirstOrDefault(f => f.id == product.brand_id);
                //查询未出库的计划数量
                List<YNStorageOut> out_plan_list = out_ctrl.GetNotOutPlanListByProduct(inventory_list[i].factory_id, product.id);
                int temp_count = 0;
                for (var j = 0; j < out_plan_list.Count; j++)
                {
                    temp_count += out_plan_list[j].out_num;
                    temp_count += out_plan_list[j].out_lock_num;
                }
                int temp_count_2 = temp_count;
                List<ProductPackage> package_list = js.Deserialize<List<ProductPackage>>(product.package_info);
                List<ProductPackage> inventory_package = js.Deserialize<List<ProductPackage>>(inventory_list[i].package_info);
                int after_inventory_count = page_ctrl.computeAfterInventoryStoreCount(package_list, inventory_package, temp_count_2);

                <tr>
                    <td><a href="/ERPStore/InventoryrDetail?id=@inventory_list[i].id">@inventory_list[i].proudct_model</a></td>
                    <td>@brand.name</td>
                    <td>@inventory_list[i].product_name</td>
                    <td>@inventory_list[i].product_format</td>
                    <td>@inventory_list[i].product_color</td>
                    <td>@(product.total_avaible_num + product.toal_lock_num + temp_count_2)</td>
                    <td>@after_inventory_count</td>
                    <td>@((product.total_avaible_num + product.toal_lock_num + temp_count_2) - after_inventory_count)</td>
                    <td>@product.total_avaible_num</td>
                    <td>@((product.toal_lock_num + temp_count_2) - after_inventory_count)</td>
                    <td>@product.toal_lock_num</td>
                    <td>@temp_count_2</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="12">抱歉，没有查询到相关数据!</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("page")*@