@using YNDIY.API.Models;
@using System.Web.Script.Serialization;
@{
    List<YNStorageOut> out_list = ViewBag.out_list;
}
<table class="_list_table">
    <thead>
        <tr>
            <td><span class="select_span"><label><span>全选</span><input type="checkbox" class="all_cbo"></label></span></td>
            <td>销售单号</td>
            <td>订单号</td>
            <td>客户名称</td>
            <td>品牌</td>
            <td>产品名称</td>
            <td>型号</td>
            <td>规格</td>
            <td>颜色</td>
            <td>数量</td>
            <td>出库数量</td>
            @*<td>锁库数量</td>*@
            @*<td>可出库数量</td>*@
            @*<td>本次出库数量</td>*@
            <td>交货日期</td>
            <td>出库说明</td>
            <td>财务审核</td>
            <td>审核状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
@if (out_list.Count > 0)
{
    for (var i = 0; i < out_list.Count; i++)
    {
        <tr _id="@out_list[i].order_id">
            <td><input type="checkbox" /></td>
            <td><a href="/ERPOrder/OrderDetail?id=@out_list[i].order_id">@out_list[i].sale_num</a></td>
            <td>@out_list[i].order_num</td>
            <td _id="@out_list[i].customer_id">@out_list[i].customer_name</td>
            <td _id="@out_list[i].brand_id">@out_list[i].brand_name</td>
            <td _id="@out_list[i].product_id">@out_list[i].product_name</td>
            <td>@out_list[i].product_model</td>
            <td class="_td_10 _over_text" title="">@out_list[i].product_format</td>
            <td>@out_list[i].product_color</td>
            <td>@out_list[i].product_number</td>
            <td>@(out_list[i].out_num + out_list[i].out_lock_num)</td>
            @*<td>锁库数量</td>*@
            @*<td>可出库数量</td>*@
            @*<td>本次出库数量</td>*@
            <td>@out_list[i].jiaohuo_date.ToString("yyyy-MM-dd")</td>
            <td class="_td_10 _over_text" title="@out_list[i].out_remark">@out_list[i].out_remark</td>
            <td>@(out_list[i].is_examine == 0 ? "是" : "否")</td>
            <td>@(out_list[i].examine_state == 0 ? "待审核" : out_list[i].examine_state == 1 ? "通过" : out_list[i].examine_state == 2 ? "未通过" : "已经出库")</td>
            <td class="_more_options">
                <div class="_more_btn _relative _relative_zindex_1">
                    <a href="javascript:void(0);" class="_show_more"><img src="/Content/imgs/template/_select_dowm.png"></a>
                    <div class="_more_btns" style="display: none;">
                        <a href="javascript:void(0);" class="modify" _id="@out_list[i].id"><span>修改出库数量</span></a>
                        <a href="/ERPOrder/PickingList?id=@out_list[i].id"><span>查看拣货单</span></a>
                        <a href="/ERPOrder/SalesList?id=@out_list[i].id"><span>查看销货单</span></a>
                        <a href="javascript:void(0);" class="dele" _id="@out_list[i].id"><span>删除</span></a>
                    </div>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="15">抱歉，没有查询到相关数据</td>
    </tr>
}
    </tbody>
</table>
@*@Html.Partial("page")*@