@using YNDIY.API.Models;
@{
    List<YNShopInfo> shopInfoList = ViewBag.shopInfoList;
    YNDIY.API.Controllers.PagesController page = ViewBag.page;
}
<table class="_list_table">
    <thead>
        <tr>
            <td>客户名称</td>
            <td>联系人</td>
            <td>联系方式</td>
            <td>公司地址</td>
            <td>结算方式</td>
            <td>锁定库存</td>
            <td>财务审核</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @if (shopInfoList.Count > 0)
        {
            for (int i = 0; i < shopInfoList.Count; i++)
            {
                <tr>

                    <td class="_td_10 _over_text" title="@shopInfoList[i].shop_name">
                        <a href="/ERPCustomer/CustomerDetail?id=@shopInfoList[i].id">
                            <span>@shopInfoList[i].shop_name</span>
                        </a>
                    </td>
                    <td  title="@shopInfoList[i].link_man">@shopInfoList[i].link_man</td>
                    <td  title="@shopInfoList[i].phone">@shopInfoList[i].phone</td>
                    <td class="_td_20 _over_text" title="@shopInfoList[i].address_detail">@shopInfoList[i].address_detail</td>
                    <td class="_td_5 _over_text" title="@shopInfoList[i].jiesuan">@shopInfoList[i].jiesuan</td>
                    <td class="_td_5 _over_text">@(shopInfoList[i].is_lockStore == 0 ? "是":"否")</td>
                    <td class="_td_5 _over_text">@(shopInfoList[i].is_examine == 0 ? "是":"否")</td>
                    <td class="_td_20 _over_text" title="@shopInfoList[i].remarks">@shopInfoList[i].remarks</td>
                    <td class="_more_options">
                        <div class="_more_btn _relative _relative_zindex_1">
                            <a href="javascript:void(0);" class="_show_more"><img src="/Content/imgs/template/_select_dowm.png"></a>
                            <div class="_more_btns">
                                <a href="/ERPCustomer/EditCustomer?id=@shopInfoList[i].id">编辑客户</a>
                                <a href="/ERPCustomer/EditProPrice?id=@shopInfoList[i].id">编辑产品</a>
                                <a href="javascript:void(0);" class="dele" _id="@shopInfoList[i].id"><span>删除</span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else { 
            <tr>
                <td colspan="9" class="_none_list_data">抱歉！目前没有查询到相关数据！</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("page")
<script>
    $("._from").text($("._select_text").text());
</script>