@using YNDIY.API.Models;
@{
    ViewBag.Title = "组长扫码";
    Layout = "~/Views/Shared/ProcessTemplate.cshtml";
    YNShopUser yNShopUser = ViewBag.yNShopUser;
    YNFactoryDepartMent yNFactoryDepartMent = ViewBag.yNFactoryDepartMent;
    Dictionary<string, string> dictionary = ViewBag.dictionary;
}
<link href="/Content/mincss/mobile/scancode.min.css?ver=1.0" rel="stylesheet" />
<div class="_page_body _relative">
    <div class="_scan_panel">
        <div class="_factory_name">@Session["Name"]</div>
        <div class="_info_items _search_meber_render">
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">姓名：</div>
                <div class="_info_content">@yNShopUser.nick_name</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">部门：</div>
                <div class="_info_content">@yNFactoryDepartMent.department_name</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">工号：</div>
                <div class="_info_content _gong_hao">@yNShopUser.employee_no</div>
            </div>
        </div>
        <!--如果是组长登录该页面-->
        @if (yNShopUser.employ_type == 1)
        {
        <div class="_clear_panel">
            <a href="javascript:void(0);" class="_scan_code_btn _btn _btn_long _left">
                <img src="/Content/imgs/scan/scan.png" />
                <span>扫一扫</span>
            </a>
            <a href="javascript:void(0);" class="_search_menber _btn _btn_long _right">
                <span>查询成员</span>
            </a>
        </div>        
        }
    </div>
    <div class="_scan_info">
        <div class="_scan_tip">
            <img src="/Content/imgs/scan/tip.png" />
            <span>扫码信息</span>
        </div>
        <div class="_info_items">
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">批次号：</div>
                <div class="_info_content">NTS1234-2</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">客户名称：</div>
                <div class="_info_content">NTS1234</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">品牌：</div>
                <div class="_info_content">5</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">产品：</div>
                <div class="_info_content">组装</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">型号：</div>
                <div class="_info_content">NTS1234-2</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">规格：</div>
                <div class="_info_content">NTS1234</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">颜色：</div>
                <div class="_info_content">5</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">工段：</div>
                <div class="_info_content">组装</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">工序：</div>
                <div class="_info_content _gongxu" style="color:red">5</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">计划生产数量：</div>
                <div class="_info_content">组装</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">已经完成数量：</div>
                <div class="_info_content">组装</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">本次完成数量：</div>
                <div class="_info_content"><input type="number" class="_input_count" /></div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">工号：</div>
                <div class="_info_content" style="color:red">@yNShopUser.employee_no</div>
            </div>
            <div class="_info_item _clear_panel">
                <div class="_left _info_title">姓名：</div>
                <div class="_info_content" style="color:red">@yNShopUser.nick_name</div>
            </div>
        </div>
        <div class="_clear_panel">
            <a href="javascript:void(0);" class="_btn _submit_btn _left">
                <span>保存</span>
            </a>
            <a href="javascript:void(0);" class="_btn _restart _right">
                <span>返回重扫</span>
            </a>
        </div>
    </div>
    <div class="_clear_panel _opt_btn_panel ">
        <div class="_left _opt_btn_wrap">
            <a href="/ERPprocess/MobileStatistics?type=0" class="_opt_type_btn _type_1">
                <span>订单完成统计</span>
            </a>
        </div>
        <div class="_left _opt_btn_wrap">
            <a href="/ERPprocess/MobileStatistics?type=1" class="_opt_type_btn _type_2">
                <span>工序完成统计</span>
            </a>
        </div>
    </div>
</div>
<!-- 查询员工页面 -->
<div class="_pop_search_member">
    <a href="javascript:void(0);" class="_close_search_panel">
        <span>关闭</span>
    </a>
    <div class="_info_item _clear_panel _member_num_panel">
        <div class="_left _info_title">工号：</div>
        <div class="_info_content"><input type="text" /></div>
    </div>
    <a href="javascript:void(0);" class="_get_member_info_btn">
        <span>查询员工</span>
    </a>
</div>
<div class="_mask"></div>
<div class="pop_window">
    <div class="_info_item _clear_panel">
        <div class="_title">确定本次完成信息</div>
    </div>
    <div class="_info_item _clear_panel">
        <div class="_left _info_title">工序：</div>
        <div class="_info_content" style="color:red"></div>
    </div>
    <div class="_info_item _clear_panel">
        <div class="_left _info_title">工号：</div>
        <div class="_info_content" style="color:red">@yNShopUser.employee_no</div>
    </div>
    <div class="_info_item _clear_panel">
        <div class="_left _info_title">姓名：</div>
        <div class="_info_content" style="color:red">@yNShopUser.nick_name</div>
    </div>
    <div class="_info_item _clear_panel">
        <div class="_left _info_title">完成数量：</div>
        <div class="_info_content" style="color:red">1</div>
    </div>
    <div class="pop_btn _clear_panel">
        <a href="javascript:void(0);" class="_btn  sbmit _btn_min _left">
            确定
        </a>
        <a href="javascript:void(0);" class="_btn  cancle _btn_min _right">
            取消
        </a>
    </div>
</div>
<script>
    var _scan_code_val = "";
    //绑定返回结果
    function FillCodeInfoData(_data) {
        var _scan_info_panel = $("._scan_info");
        var _scan_panel = $("._scan_panel");
        $("._info_content", _scan_info_panel).each(function (i, o) {
            i == 0 ? $(o).text(_data.batchNum) :
            i == 1 ? $(o).text(_data.customer) :
            i == 2 ? $(o).text(_data.brandName) :
            i == 3 ? $(o).text(_data.productName) :
            i == 4 ? $(o).text(_data.modeName) :
            i == 5 ? $(o).text(_data.format) :
            i == 6 ? $(o).text(_data.color) :
            i == 7 ? $(o).text(_data.process.stage) :
            i == 8 ? $(o).text(_data.process.name) :
            i == 9 ? $(o).text(_data.number) :
            i == 10 ? $(o).text(_data.process.complate) : null;
        });
        _scan_info_panel.show().siblings().hide();
    }
    //后台解析扫码结构
    function GetCodeInfo(_code) {
        _show_loading();
        $.ajax({
            type: "get",
            url: "/ERPprocess/getCodeInfo",
            data: { barCode: _code },
            dataType: "json",
            success: function (response) {
                _hide_loading();
                if (response.code) {
                    FillCodeInfoData(response.data);
                } else {
                    alert(response.message);
                }
            },
            error: function (e) {
                _hide_loading();
                alert("网络异常，分析数据信息失败！");
            }
        });
    }
    //分析扫码返回数据
    function AnalysisCodeResult(_result) {
        var _code = "";
        if (/,/.test(_result)) {
            _code = _result.split(",")[1];
        } else {
            _code = _result;
        }
        _scan_code_val = _code;
        GetCodeInfo(_code);
    }

    //显示查询面板
    $("._search_menber_btn").bind("click", function () {
        $("._pop_search_member").show().find("input").val("");
    });
    //关闭查询面板
    $("._close_search_panel").bind("click", function () {
        $("._pop_search_member").hide();
    });
    //渲染员工信息
    function RenderSearchMember(_data) {
        $("._search_meber_render ._info_content").each(function (i, o) {
            if (i == 0) {
                $(o).text(_data.name);
            } else if (i == 1) {
                $(o).text(_data.departMentName);
            } else if (i == 2) {
                $(o).text(_data.gonghao);
            }
        });
    }
    //查询员工信息
    $("._get_member_info_btn").bind("click", function () {
        var _input = $(this).prev().find("input");
        var _input_gonghao = _input.val().replace(/\s/g, "");
        if (_input_gonghao == "") {
            alert("请输入工号！");
            _input.focus();
        } else {
            _show_loading();
            $.ajax({
                type: "get",
                url: "/ERPprocess/getEmployeeInfo",
                data: { gonghao: _input_gonghao },
                dataType: "json",
                success: function (response) {
                    _hide_loading();
                    if (response.code) {
                        $("._close_search_panel").click();
                        RenderSearchMember(response.data);
                    } else {
                        alert(response.message);
                    }
                },
                error: function (e) {
                    _hide_loading();
                    alert("网络异常，查询员工失败！");
                }
            });
        }
    });

    $(document).ready(function () {
        //返回重扫
        $("._restart").on("click", function () {
            $("._scan_panel").show().next().hide().next().show();
        });
        
        //提交环节扫码信息
        $("._submit_btn").on("click", function () {
            var count = $("._input_count").val();
            if (count == "") {
                alert("请输入本次完成数量");
                return;
            }
            $('.pop_window').fadeIn().find('._info_content').eq(0).text($('._gongxu').text());
            $('.pop_window').find('._info_content').last().text(count);
            $('._mask').show();
        });
        $(".cancle").on("click", function () {
            $('.pop_window').fadeOut();
            $('._mask').hide();
            $("._input_count").val('');
        });
        //提交环节扫码信息
        $(".sbmit").on("click", function () {
            var _temp_gonghao = $("._gong_hao").text().replace(/\s/g, "");
            _show_loading();
            $.ajax({
                type: "get",
                url: "/ERPprocess/submitBarCode",
                data: { barCode: _scan_code_val, gonghao: _temp_gonghao, count: $("._input_count").val() },
                dataType: "json",
                success: function (response) {
                    _hide_loading();
                    if (response.code == 1) {
                        $(".cancle").click();
                        $("._restart").click();
                        $("._scan_code_btn").click();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (e) {
                    _hide_loading();
                    alert("网络异常，提交失败！");
                }
            });
        });
    });
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var url = "@dictionary["url"].Split('?')[0]";
    wx.config({
        debug: false,
        appId: 'wx0eb2f308e7d7add2',
        timestamp: '@dictionary["timestamp"]',
        nonceStr: '@dictionary["nonceStr"]',
        signature: '@dictionary["signature"]',
        jsApiList: [
          'scanQRCode'
        ]
    });
    wx.ready(function () {
        $("._scan_code_btn").bind("click", function () {
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["barCode"],
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    AnalysisCodeResult(result);
                },
                fail: function (e) {
                    alert("读取条码失败，请重试！");
                }
            });
        });
    });
</script>
